@import "../../variables.scss";

.hint {
  border-radius: 2px;
  background-color: $background-color;

  &__text {
    display: none;

    margin: 3px;

    cursor: pointer;

    font-size: 12px;
  }

  &__text:first-child {
    display: block;
  }

  &:hover &__text {
    display: block;
  }
}
