@import "../../variables.scss";

.hint-container {
  position: relative;

  display: flex;

  padding-left: 20px;

  &__hint {
    height: fit-content;
    margin-right: 5px;

    border: 1px solid $main-text-color;
  }
}
