@import "../../variables.scss";

.hint-container {
  position: relative;

  display: flex;

  padding-left: 20px;

  &__hint {
    height: 20px;
    margin-right: 5px;

    border: 1px solid $main-text-color;
  }
  &__hint:first-child:hover {
    height: 60px;
  }
}
