$main-text-color: #ffffff;
$accent-color: #23a4fa;
$primary-color: #4b4c53;
$background-color: #020413a8;
$light-background-color: #747474;
$light-transparent-color: #cdced1a9;
$cover-background-color: #40404080;
$cover-background-dark-color: #31313198;
