@import "../../variables.scss";

.hint {
  border-radius: 2px;
  background-color: $background-color;

  &__text {
    margin: 0 3px;
    padding: 0;

    cursor: pointer;

    color: $main-text-color;
    border: none;
    outline: none;
    background-color: transparent;

    font-size: 12px;
  }
}
