@import "../../variables.scss";

.filters {
  color: $main-text-color;
  background-color: $background-color;

  font-family: "Lato", sans-serif;

  &__footer {
    height: 10px;
  }
}

.hidden {
  display: none;
}
