@import "../../variables.scss";

.dropdown-menu {
  display: flex;

  width: 100%;

  align-items: center;

  &__subtitle {
    overflow: hidden;

    width: 100%;
    margin: 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: $accent-color;

    font-size: 12px;
  }
}
