@import "../../variables.scss";

.dropdown-menu {
    display: flex;

    align-items: baseline;

    &__arrow {
        position: relative;
        bottom: -2px;

        margin: 5px;

        color: $light-transparent-color;

        font-size: 12px;
    }

    &__subtitle {
        margin: 0;

        color: $accent-color;

        font-size: 12px;
    }
}
