@import "../../variables.scss";

.dropdown-button {
  display: flex;

  text-transform: uppercase;

  color: $main-text-color;
  border: none;
  outline: none;
  background-color: transparent;

  &__arrow {
    position: relative;
    bottom: -3px;

    margin: 0 5px 0 0;

    color: $light-transparent-color;

    font-size: 12px;
  }

  &:hover &__arrow {
    color: $main-text-color;
  }
}