@import "../../variables.scss";

.separated-container {
  display: flex;

  height: 100%;

  border-bottom: 2px solid $light-background-color;

  &_disabled {
    pointer-events: none;
  }

  &__empty {
    width: 10%;

    border-right: 2px solid $light-background-color;

    flex-shrink: 0;
  }

  &__content {
    width: 80%;
    padding: 8px 5px;

    background-color: $primary-color;

    flex-grow: 1;
  }
}
