@import "../../variables.scss";

.checkbox-text {
  display: flex;

  cursor: pointer;

  align-items: center;

  &__checkbox {
    position: relative;

    display: flex;

    width: 0;
    height: 0;
    margin: 0 22px 0 10px;

    cursor: pointer;
  }

  &__checkbox::before {
    position: absolute;

    width: 12px;
    height: 12px;

    content: "";
    cursor: pointer;

    border-radius: 2px;
    background-color: $light-transparent-color;

    align-self: center;
  }

  &__checkbox:checked::before {
    content: "";

    background-color: white;
  }

  &__checkbox:checked::after {
    position: absolute;
    left: 4px;

    width: 3px;
    height: 6px;
    margin-top: -5px;

    content: "";
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);

    border: solid black;
    border-width: 0 2px 2px 0;
  }

  &__text {
    margin: 2px 0;

    font-size: 15px;
  }
}
